<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4NneEKEsErJYBAro_PTzQyJoBjNHf7cI</string>
	<key>GCM_SENDER_ID</key>
	<string>253268417548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Max.EventGenius</string>
	<key>PROJECT_ID</key>
	<string>eventgenius-2339d</string>
	<key>STORAGE_BUCKET</key>
	<string>eventgenius-2339d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253268417548:ios:7c826e13844c5db7cbe229</string>
</dict>
</plist>